*{
  margin:0;
  padding:0;
  box-sizing: border-box;



}

.landing {
  background-color: #141414;
}
body,
html {
  
   background-color: black;
}

.h1 {
  color: #DC3535;
  font-family: 'Pacifico', cursive;


}

.footer {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.form-bg {
  
  text-align: center;
}

.slide-text {
  background-color: #333333;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 
  padding: 5px;


}

.cardHighlight {
  min-height: 100%;
}

.cardCourse {
  
  display: block;
}

.card-gray{
  background-color: #808080
}

.img{
  text-align: center;
}

.card-lightgray{
  background-color: #D3D3D3
}

.card-small {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  flex: 0 1 calc(25% - 1em);

}

.container-flex {
  display: inline;
  
  justify-content: space-between;
}

Form {
    background-color: #333333;
    font-family: 'Oswald', sans-serif;
    padding: 35px 40px 40px;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #FFFFFF;

}

Form.Control {
  width: 50%;
}



.welcome-form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
  margin: 5px;
  padding-top: 5px;
   margin-bottom: 30px;
   padding-bottom: 40px;

}


.welcome-text {
  
  margin: 20px;
  margin-top: 30px;
  padding-top: 5px;
  line-height: 3;
  color: white;

}

.nav-shadow {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}

img {
  width: 300px;
  height: 300px
}

.product-text {
  line-height: 1.6;
  color: white;

}

.product-title {
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-emphasis: filled red;
  color: #E2BE1D;
}

.button-highlight {
  
  border-color: #F0A500;
  padding: 10px;
  background-color: #F0A500;
}

.counter {
  border-color: black;
  margin: 1px;
  width: 3.5rem;
  text-align: center;
  height: 2.5rem;
}

.right-align {
  text-align: right;
}


.padding-nav {
  padding-top: 2rem;
  color: #FFFFFF;
}

.gray-bg {

  background-color: #333333;
}

.nav-top {
    background-color: black;
  color: #E2BE1D;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
  padding: 2px;
}

.padding-nav-lower {
  
  background-color: black;
  color: #E2BE1D;
  padding-top: 5rem;

}

.white-text {
  color: #FFFFFF;
}

.black-text {
  color: #222222;
}

.gold {
  color: #E2BE1D;
}

.border {
  border-color: #3C4048;
}

.noborder {
  border-color: #333333;
}

.red {
  color: #DC3535;
}

.center {
  margin: auto;
  width: 50%;
  vertical-align: middle;
  padding: 10px;
}